@import "mocha.css";
* {
  font-family: Iosevka Mayukai Original;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  /* border-bottom: 2px solid @surface0; */
  transition-property: background;
  transition-duration: 0.5s;
  background: rgba(30, 30, 46, 0.8);
}

#workspaces,
#mode,
#clock,
#language,
#pulseaudio,
#network,
#custom-logo,
#custom-uptime,
#custom-memory,
#temperature,
#window,
#cpu,
#memory,
#disk {
  padding: 0px 2px;
  margin: 2px 2px 2px 2px;
  border-radius: 80px;
  background-clip: padding-box;
  /* background-color: @surface0; */
}

#tray {
  padding: 2px;
  margin: 0px 4px 4px 0px;
}

#custom-sep {
  padding: 0px;
  color: @surface0;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: @text;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#cpu {
  color: @teal;
}

#memory {
  color: @mauve;
}

#clock {
  color: @blue;
}

#mode {
  color: @red;
}

#window {
  color: @text;
}

#language {
  color: @teal;
}

#custom-uptime {
  color: @green;
}

#pulseaudio {
  color: @lavender;
}

#custom-logo {
  color: @blue;
}

#pulseaudio.muted {
  color: @subtext0;
}

@keyframes blink {
  to {
    background-color: @surface0;
    color: @red;
  }
}
