@import "mocha.css";
* {
  border: none;
  font-family: Iosevka Mayukai Original;
  font-size: 17px;
  font-weight: bold;
}

window#waybar {
  transition-property: background;
  transition-duration: 0.5s;
  background: rgba(30, 30, 46, 0.75);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#mode,
#clock,
#language,
#pulseaudio,
#network,
#custom-logo,
#custom-uptime,
#custom-memory,
#temperature,
#window,
#cpu,
#memory,
#disk,
#tray {
  padding: 0 4px;
  margin: 4px 4px 4px 4px;
  border-radius: 90px;
  background-clip: padding-box;
  /* background-color: @surface0; */
}

#custom-sep {
  padding: 0;
  color: @surface0;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: @text;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: @blue;
}

#disk {
  color: @teal;
}

#workspaces button.urgent {
  color: @red;
}

#cpu {
  color: @teal;
}

#custom-memory {
  color: @mauve;
}

#memory {
  color: @mauve;
}

#clock {
  color: @blue;
}

#custom-weather {
  color: @teal;
}

#mode {
  color: @red;
}

#window {
  color: @text;
}

#language {
  color: @teal;
}

#custom-uptime {
  color: @green;
}

#pulseaudio {
  color: @lavender;
}

#custom-logo {
  background-color: @surface0;
  color: @blue;
}

#pulseaudio.muted {
  background-color: @red;
  color: @surface0;
}

@keyframes blink {
  to {
    background-color: @surface0;
    color: @red;
  }
}

#network {
  color: @mauve;
}

#network.disconnected {
  background-color: @red;
  color: @surface0;
}
